{
    "overrides": [
      {
        "files": "*.sol",
        "options": {
          "parser": "solidity-parser",
          "printWidth": 80,
          "tabWidth": 4,
          "useTabs": false,
          "singleQuote": false,
          "bracketSpacing": true,
          "explicitTypes": "always",
          "semi": true
        }
      }
    ]
  }
  